* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ecf0f1;
}

canvas {
  border: 8px solid #1a2531;
  border-radius: 3px;
}
